# Functions

* A function is a block of code that only runs when it is **called**
    * A function is *called* using the name of the function followed by parenthesis **()**
    * A function is defined using the **def** keyword
<br>
<br>
* A function can take in parameters
    * parameters can have default values
* A function can return something as a result
<br>
<br>
<br>
* **def** function_name**\(**param1, param2, ...**\):**

In [29]:
def this_is_a_function_that_takes_in_no_parameters():
    print("Hi, this function doesn't return anything.")

In [30]:
this_is_a_function_that_takes_in_no_parameters()

Hi, this function doesn't return anything.

In [31]:
def this_is_a_function_that_takes_in_one_parameter(text):
    print(f"Hi, this function returns the same text that you passed in as a parameter: {text}")
    return text

In [33]:
this_is_a_function_that_takes_in_one_parameter("what a day")

Hi, this function returns the same text that you passed in as a parameter: what a day

In [39]:
# write a function that takes in a number and squares it and returns the answer

def num_sqd(num):
    return num**2

num_sqd(6)

six_sqd = num_sqd(6)
print(f"The answer is: {six_sqd}")

The answer is: 36

In [50]:
# write a function that 
# takes in a number and 
# doubles it and 
# returns the answer

def number_doubled(num):
    return num*2

number_doubled(4)

8

In [51]:
# write a function 
# that sums two values and 
# returns the answer

def my_function(num1, num2):
    return num1 + num2

my_function(100, 200)

300

In [60]:
# write a function 
# that both sums and subtracts two values 
# and returns both results

def my_function(num1, num2):
    num_sum = num1 + num2
    num_sub = num1 - num2
    return num_sum, num_sub

my_function(87, 74)

(161, 13)

In [63]:
# write a function that returns the max of three values

def my_function(num1, num2, num3):
    return max(num1, num2, num3)

my_function(1,2,3)

3

In [67]:
# write a function that returns the sum of two numbers

def a_function(num1, num2):
    return sum([num1, num2])

# def a_function(num1, num2):
#     my_list = [num1, num2]
#     return sum(my_list)

a_function(2, 4)

6

In [66]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [65]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, /, start=0)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

In [68]:
# write a function that
# takes in a number and (we are going to have 1 parameter)
# and returns whether or not that number is divisible by 2

def sassy(pink):
    answer = pink % 2 == 0
    return answer

# def sassy(pink):
#     return pink % 2 == 0

In [69]:
sassy(3)
# answer = pink % 2 == 0
# return answer

# answer = 3 % 2 == 0 -> False
# return answer -> return False

False

In [74]:
answer = 3 % 2 == 0

In [75]:
answer

False

In [76]:
# write a function that
# takes in two numbers
# multiplies them 
# and returns the answer

def red(purple, blue):
    return purple*blue

In [78]:
red(4, 6)

24

In [80]:
def multiply_two_numbers(number1, number2):
    return number1 * number2

In [81]:
multiply_two_numbers(4,6)

24

In [2]:
my_list = [1,2,3]

for i in my_list:
    print(i)
    
my_list = [1,2,3]

for i in my_list:
    print(i)
    
my_list = [1,2,3]

for i in my_list:
    print(i)

1
2
3
1
2
3
1
2
3

In [3]:
def my_function():
    my_list = [1,2,3]

    for i in my_list:
        print(i)

In [5]:
my_function()
my_function()
my_function()

1
2
3
1
2
3
1
2
3

In [6]:
my_function()

1
2
3

In [15]:
def print_list(my_list):
    """
    use my funtion to print the contents of your list
    
    :param my_list: this should be a List
    """
    for i in my_list:
        print(i)

In [17]:
help(print_list)

Help on function print_list in module __main__:

print_list(my_list)
    use my funtion to print the contents of your list

    :param my_list: this should be a List

In [11]:
a = 'gage'
type(a)

str

In [12]:
isinstance(a, str)

True

In [18]:
def my_function():
    x = 2
    print(x*2)

In [ ]:
my_function()

In [21]:
def my_function(x):
    print(x*2)

In [22]:
my_function(3)

6

In [23]:
def my_function(x=2):
    print(x*2)

In [24]:
my_function()

4

In [25]:
my_function(8)

16

In [26]:
def my_function(x=2):
    return x*2

In [27]:
x_doubled = my_function(8)

In [28]:
x_doubled

16

In [48]:
my_string = "Hi"
my_other_string = "I am string"

answer = my_string + ' ' + my_other_string
print(answer)

Hi I am string

In [44]:
answer = f"{my_string} {my_other_string}"
print(answer)

Hi I am string

In [45]:
answer = f"{[i for i in range(10)]} is a list"
print(answer)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] is a list

In [49]:
answer = f"{my_string} {my_other_string}"
print(answer)

answer2 = "{} {}".format(my_string, my_other_string)
print(answer2)

Hi I am string
Hi I am string

In [47]:
my_string

'[0, 1, 2, 3, 4, 5, 6, 7, 8, 9] is a list'

In [52]:
def my_function():
    return 1, 2

In [53]:
my_function()

(1, 2)

In [54]:
a = my_function()

In [55]:
a

(1, 2)

In [56]:
type(a)

tuple

In [57]:
a,b = my_function()

In [58]:
a

1

In [59]:
b

2