# This is a review notebook
***In order to do this review, you need to have covered:***
* Simple Data Types (literals: int, str, float, bool)
* The print() function
* The input() function
* The type() function
* the isinstance() function
* Arithmetic operators (+, -, /, //, *, \**, %)
* Comparison operators (==, !=, <, >, <=, >=)
* Logical operators (and, or, not)
* Special operators (is)
* Membership operators (in)
* The range() function
* Lists
* Dictionaries
* For loops
* List comprehension
* Conditional expressions (if, elif, else)

In [1]:
x = '1'
# add code to convert the variable from str to int
# then print the type of the variable

<class 'int'>

In [3]:
x = 1
# add code to convert the variable from int to str
# then print the type of the variable

<class 'str'>

In [4]:
x = 1
# add code to convert the variable from int to float
# then print the type of the variable

<class 'float'>

In [5]:
x = 4
y = 2

# write an expression below which assigns the value 8 to the variable z using 
# one of the arithmetic operators then print z

8

In [6]:
x = 8
y = 5

# write an expression below which assigns the value 3 to the variable z using
# one of the arithmetic operators then print z

3

In [7]:
x = 8
y = 6
z = x // y

# write an expression below which checks the data type of z
# and assigns its output as a boolean to a new variable, foo
# print foo (it should print True)

True

In [8]:
x = 8
y = 6
z = x / y

# write an expression below which checks the data type of z
# and assigns its output as a boolean to a new variable, foo
# print foo (it should print True)

True

In [9]:
x = [7, 3, 5, 9]

# write a for loop which prints 
# 14, 6, 10, 18,
# using one of the arithmetic operators

14, 6, 10, 18,

In [10]:
for i in range(5):
    
    # write an expression which prints i if it is an even number

0
2
4

In [11]:
x = [i for i in range(3)]
# create a new variable y which causes the last expression in this cell to print True

print(x == y)

True

In [12]:
x = [i for i in range(0, 5)]
# create a new variable y which causes the last expression in this cell to print True

print(x == y)

True

In [13]:
x = [i for i in range(1, 3)]
# create a new variable y which causes the last expression in this cell to print True

print(x == y)

True

In [14]:
x = [i for i in range(3, 7)]
# create a new variable y which causes the last expression in this cell to print True

print(x == y)

True

In [15]:
x = [i for i in range(0, 10, 2)]
# create a new variable y which causes the last expression in this cell to print True

print(x == y)

True

In [16]:
x = [i for i in range(1, 7, 3)]
# create a new variable y which causes the last expression in this cell to print True

print(x == y)

True

In [1]:
x = [i for i in range(1, 3, 3)]
# create a new variable y which causes the last expression in this cell to print True

print(x == y)

True

In [19]:
x = [i for i in range(10, 1)]
# create a new variable y which causes the last expression in this cell to print True

print(x == y)

True

In [20]:
x = [i for i in range(10, 1, -1)]
# create a new variable y which causes the last expression in this cell to print True

print(x == y)

True

In [25]:
x = [i for i in range(10, 1, -2)]
# create a new variable y which causes the last expression in this cell to print True

print(x == y)

True

In [26]:
x = [1 for i in range(3)]
# create a new variable y which causes the last expression in this cell to print True

print(x == y)

True

In [27]:
x = ['a' for i in range(3)]
# create a new variable y which causes the last expression in this cell to print True

print(x == y)

True

In [29]:
x = [[1,2,3] for i in range(2)]
# create a new variable y which causes the last expression in this cell to print True

print(x == y)

True

In [23]:
x = True
# create a variable y which causes this cell to print "PRINT ME"


if x or y and y:
    print("PRINT ME")
else:
    print("DONT PRINT ME")

PRINT ME

In [24]:
x = True
# create a variable y which causes this cell to print "PRINT ME"


if x or y and not y:
    print("PRINT ME")
else:
    print("DONT PRINT ME")

PRINT ME

In [30]:
x = ['b' for i in range(5)]
# create a variable y which causes this cell to print True


print(y in x)

True

In [31]:
x = [i for i in range(5)]
# create a variable y which causes this cell to print True


if y in x:
    print(True)

True

In [32]:
x = {'a': 1, 'b': 2}
# create a variable y which causes this cell to print True


print(x[y] == 2)

True

In [35]:
x = [{'a': i, 'b': i+2} for i in range(2)]
# create a variable y and a variable z which cause this cell to print 3


print(x[y][z])

3